body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: red;
    color: white;
    padding: 20px;
    text-align: center;
}

header {
    background: linear-gradient(135deg, lightblue, #ff7043);
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

main img {
    max-width: 900px;
    height: auto;
    display: block;
    margin: 40px 0;
}

footer {
    background-color: #333;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    margin-top: 60px;
    bottom: 0;
    width: 100%;
}

footer {
    background: linear-gradient(135deg, lightblue, #ff7043)
}

p {
    font-size: 1.1em;
}

a {
    color: #ff5722;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

main a[href ="mailto:"] {
    color: #ff5722;
    font-weight: bold;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 50px;
}

section {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.button {
    display: inline-block;
    background: #ff7043;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.button:hover {
    background: #ff5722;
    transform: translateY(-2px);
}

section {
    transition: transform 0,3s ease;
}

section:hover {
    transform: translateY(-5px)
}